* {
    text-decoration: none;
    box-sizing: inherit;
}

.navbar {
    background-color: blue;
    font-family: Calibri, sans-serif;
    padding: 5px 50px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 35px;
    font-weight: 600;
    color: white;
}
0
ul {
    margin: 0;
    padding:0;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 30px;
}

button {
    background-color: rgb(26, 124, 42);
    margin-left: 10px;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    border: none;
}

button a {
    color: white;
    font-weight: bold;
    font-size: 12px;
}
.fa-envelope {
    margin-right: 8px;
}

.fa-clock{margin-right: 8px;

}

.fa-ranking-star{margin-right: 8px;    }

li a {
    color: white;
    text-decoration: none;
    position: relative;
}

li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: yellow;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

li a:hover::after {
    width: 100%;
}